---
name: mainuser_signup
resource: User
resource_owner: anyone
redirect_to: /sign-in
fields:
  email:
  password:
   recipes:
  
      callback_actions: "{% graphql res = 'user_session_create', email: form.email, password: form.password %}"
---
{% form %}
  <label for="name">Name</label>
  <input
    name="{{ form.fields.name }}"
    value="{{ form.fields.name.value }}"
    id="name"
    type="text">
  {% if form.errors.name %}
    <p>{{ form.errors.name }}</p>
  {% endif %}

  <label for="email">Email</label>
  <input
    name="{{ form.fields.email.name }}"
    value="{{ form.fields.email.value }}"
    id="email"
    type="email">
  {% if form.errors.email %}
    <p>{{ form.errors.email }}</p>
  {% endif %}

  <label for="password">Password</label>
  <input
    name="{{ form.fields.password.name }}"
    id="password"
    type="password">
  {% if form.errors.password %}
    <p>{{ form.errors.password }}</p>
  {% endif %}


  <button>Create</button>
{% endform %}